<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>DuckTeacher</title>

        <!-- Bootstrap -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
       <style>
           th{
               padding: 20px;
           }
           td{
               padding: 20px;
           }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/main">덕선생._.</a>
            </div>
              
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/gallery">갤러리</a></li>
                <li><a href="/market">마켓</a></li>
                <li><a href="/myinfo">내정보보기</a></li>
              </ul>
          </div><!-- /.container-fluid -->
        </nav>
        <div style="max-width:100%;">
             <img src="/images/account.png" style="width:350px;margin-left:50px;margin-bottom:10px;">
         </div>
         <% var item = rows[0]; %>
         <div style="font-size:1.5em;background:#EAEAEA; margin-left:50px;margin-right:50px;margin-top:20px; border-radius:1em;padding:50px;">
             <table>
                 <tr>
                     <th>
                         ID : 
                     </th>
                     <td>
                         <%=item.member_id%>
                     </td>
                 </tr>
                 <tr>
                     <th>
                         이름 : 
                     </th>
                     <td>
                         <%=item.member_name%>
                     </td>
                 </tr>
                 <tr>
                     <th>
                         닉네임 : 
                     </th>
                     <td>
                         <%=item.member_nick%>
                     </td>
                 </tr>
                 <tr>
                    <th>
                         이메일 : 
                    </th>
                    <td>
                        <%=item.member_email%>
                    </td>
                 </tr>
             </table>
         </div>
         <div class="row" style="float:right; margin-right:70px; margin-top:20px;">
             <a href="/myinfo/info/modify"><button type="button" class="btn btn-warning" style="margin-right:10px;">수정하기</button></a>
             <a href="/myinfo/info/delete">
             <button type="button" id="btn-delete" class="btn btn-danger">탈퇴하기</button></a>
         </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        
        <script>
            $(function(){

            $(".dropdown-menu li a").click(function(){

              $(".btn:first-child").text($(this).text());
              $(".btn:first-child").val($(this).text());

           });

        });
        </script>
    </body>
</html>