<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dr.Duck | Web</title>
        <!-- Tell the browser to be responsive to screen width -->    
          <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
        <!-- Theme style -->
        <link rel="stylesheet" href="/dist/css/AdminLTE.min.css"/>
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <!-- <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css"/> -->
        <link rel="stylesheet" href="/css/duckteacher.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body id="main">
        <div class="wrapper">
            <!-- header -->
		<header class="main-header">
			<a href="/super" class="logo"><span class="logo-lg"><img src="/dist/img/5logo.png" alt="DuckTeacher" /></span></a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="javascript:lnbControls()" class="sidebar-toggle" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
                        <a href="/super/logout"><button type="button" class="btn btn-default btn-gray" aria-label="Center Align"><span class="glyphicon glyphicon-log-out" aria-hidden="true">&nbsp;로그아웃</span></button></a>
					</ul>
				</div>
			</nav>
		</header>
            <aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu">
					<li class="treeview"><a href="/super"><i class="fa fa-heart-o"></i> <span>Home</span></a></li>
					<li class="treeview">
						<a href="#">
							<i class="fa fa-search"></i>
							<span>홈페이지 관리</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="/super/gallery">갤러리 관리</a></li>
							<li><a href="/super/market">마켓 관리</a></li>
							<li><a href="/super/account">계정 관리</a></li>
						</ul>
					</li>
					<li class="active treeview"><a href="/super/info"><i class="fa fa-user"></i> <span>내 계정 관리</span></a></li>
				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>
            <div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
			  <h1><strong>덕선생</strong><span>다섯가지 덕을 품고 날아오르다</span></h1>
			</section>
			<!-- Content Header (Page header) -->
              <section class="content">
                    <div class="col-md-12 col-lg-6">
                        <h3>비밀번호 변경하기</h3>
                        <form action="/super/info" method="post">
                            <div class="input-group margin">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-danger"> 새 비밀번호 </button>
                                </div>
                                <!-- /btn-group -->
                                <input type="password" class="form-control" name="newpw1">
                            </div>
                            <div class="input-group margin">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-danger">새 비밀번호 확인</button>
                                </div>
                                <!-- /btn-group -->
                                <input type="password" class="form-control" name="newpw2">
                            </div>
                            <button type="submit" class="btn bg-navy margin">수정하기</button>
                        </form>
                    </div>
                </section><!-- /.content -->
		      </div>
        </div><!-- wrapper -->
        
    <!-- jQuery 2.1.4 -->
    <script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- ChartJS 1.0.1 -->
    <script src="/plugins/chartjs/Chart.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
        
    <script src="/plugins/chartjs/Chart.bundle.js"></script>
        
    <script src="/dist/js/common_ui.js"></script> <!-- 2016.09 add -->
 
    </body>
</html>